* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-sme-sma.sma.lexc -text
/apertium-sme-sma.sma.twol -text
/apertium-sme-sma.sme-sma.dix -text
/apertium-sme-sma.sme-sma.lex -text
/apertium-sme-sma.sme-sma.rlx -text
/apertium-sme-sma.sme-sma.t1x -text
/apertium-sme-sma.sme-sma.t2x -text
/apertium-sme-sma.sme-sma.t3x -text
/apertium-sme-sma.sme-sma.t4x -text
/apertium-sme-sma.sme-sma.t5x -text
/apertium-sme-sma.sme.lexc -text
/apertium-sme-sma.sme.twol -text
/autogen.sh -text
/configure.ac -text
dev/apertium.relabel -text
dev/generation-report.txt -text
dev/generation-test.sh -text
dev/langs.cfg.in -text
dev/update-lexc.py -text
/lexchoicebil.xsl -text
/modes.xml -text
/pending-tests.sh -text
/sme-sma.prob -text
/wiki-tests.sh -text
