* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-sme-sma.sma.att.gz -text
/apertium-sme-sma.sme-sma.dix -text
/apertium-sme-sma.sme-sma.lrx -text
/apertium-sme-sma.sme-sma.rlx -text
/apertium-sme-sma.sme-sma.t1x -text
/apertium-sme-sma.sme-sma.t2x -text
/apertium-sme-sma.sme-sma.t3x -text
/apertium-sme-sma.sme-sma.t4x -text
/apertium-sme-sma.sme-sma.t5x -text
/apertium-sme-sma.sme.att.gz -text
/autogen.sh -text
/configure.ac -text
dev/apertium-sme-sma.sme-sma.t1x.BACKUP -text
dev/cg-tag-convertor.py -text
dev/generation-report.txt -text
dev/generation-test.sh -text
dev/phrase -text
/modes.xml -text
/pending-tests.sh -text
/sme-sma.prob -text
texts/fordypning_i_samisk_sma.txt -text
texts/fordypning_i_samisk_sme.txt -text
texts/samediggidiedadus_samegiela_birra_2012.nob.txt -text
texts/samediggidiedadus_samegiela_birra_2012.sma.txt -text
texts/samediggidiedadus_samegiela_birra_2012.sme.txt -text
texts/samisk_som_andresprak_sma.txt -text
texts/samisk_som_andresprak_sme.txt -text
texts/samisk_som_forstesprak_sma.txt -text
texts/samisk_som_forstesprak_sme.txt -text
texts/story.sme.txt -text
/wiki-tests.sh -text
